<!doctype html>
<html ng-app='MsgApp'>
  <head>
    <title>Lunch Checker</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>

  </head>
<body>
   <div class="container" ng-controller='MsgController'>
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="dishes"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" style= "border-color: {{messageColor}} ">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="evaluate()" >Check If Too Much</button>
         </div>
         <div class="form-group message" style= "color: {{messageColor}}">
               {{message}}
         </div>
   </div>

</body>
</html>
